<che-toolbar che-title="Billing">
  <div class="billing-save-button-placeholder">
    <che-button-save-flat ng-show="billingController.isSaveButtonVisible()"
                          ng-disabled="billingController.isSaveButtonDisabled()"
                          che-button-title="Save" name="saveButton"
                          ng-click="billingController.saveCard()"></che-button-save-flat>
  </div>
</che-toolbar>

<md-progress-linear md-mode="indeterminate" ng-show="billingController.loading"></md-progress-linear>

<md-content md-scroll-y flex
            class="billing-content" md-theme="default">
  <md-tabs class="billing-tabs"
           md-dynamic-height
           md-stretch-tabs="auto"
           md-selected="billingController.selectedTabIndex"
           md-disable-animation
           md-no-ink-bar>

  </md-tabs>
</md-content>

<workspace-edit-mode-overlay ng-if="billingController.isSaveButtonVisible()"
                             workspace-edit-disable-save-button="billingController.isSaveButtonDisabled()"
                             workspace-edit-mode-on-save="billingController.saveCard()"
                             workspace-edit-mode-on-cancel="billingController.cancelCard()"></workspace-edit-mode-overlay>


